@charset "utf-8";
@import "../node_modules/nord/src/sass/nord.scss";

// colors
$orange: $nord12;
$yellow: $nord13;
$green: $nord14;
$turquoise: $nord8;
$cyan: $nord9;
$blue: $nord10;
$purple: $nord15;
$red: $nord11;