@charset "utf-8";
@import "../node_modules/nord/src/sass/nord.scss";
@import "colors.scss";

// base colors
$black: $nord0;
$black-bis: $nord1;
$black-ter: $nord2;

$grey-darker: darken($nord3, 5%);
$grey-dark: $nord3;
$grey: lighten($nord3, 25%);
$grey-light: lighten($nord3, 35%);
$grey-lighter: lighten($nord3, 48%);

$white-ter: $nord6;
$white-bis: lighten($nord6, 2%);
$body-background-color: #f2f4f8;

// invert
$yellow-invert: rgba($black, 0.7);
$primary-invert: rgba($black, 0.7);

// misc
$tabs-border-bottom-width: 2px;

@import "../node_modules/bulma/bulma.sass";